<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.zx.zheng.musictest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_cloud_music"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="jp.zx.zheng.cloudmusic.MusicTest"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="jp.zx.zheng.cloudstorage.ybox.YConnectImplicitWebViewActivity"></activity>
        <activity android:name="com.dropbox.sync.android.DbxAuthActivity" />
		<activity
			android:name="com.dropbox.client2.android.AuthActivity"
		  	android:launchMode="singleTask" >
		  	<intent-filter>
		    	<data android:scheme="db-7jwxzmothlsd5v9" />
		    	<action android:name="android.intent.action.VIEW" />
		    	<category android:name="android.intent.category.BROWSABLE" />
		    	<category android:name="android.intent.category.DEFAULT" />
		  	</intent-filter>
		</activity>
		<service
		  	android:name="com.dropbox.sync.android.DbxSyncService"
		  	android:enabled="true"
		  	android:exported="false"
		  	android:label="Dropbox Sync" />
		<activity android:name="jp.zx.zheng.cloudmusic.Finder"></activity>
		<activity android:name="jp.zx.zheng.cloudmusic.LibraryFinder"></activity>
		<service android:name="jp.zx.zheng.cloudmusic.MediaPlayerService"></service>
		<activity android:name="jp.zx.zheng.cloudmusic.SettingActivity"></activity>
    </application>
    
</manifest>
